-- 빈 배열이거나 null인 에이전트의 selected_categories를 기본값으로 업데이트합니다.
UPDATE agents SET selected_categories = '["residential", "commercial", "industrial", "land"]'::jsonb WHERE selected_categories IS NULL OR selected_categories = '[]'::jsonb OR jsonb_array_length(selected_categories) = 0;
